.wom_video_content {
    float:left;
    position:relative
}
.wom_video_content .play{display:block}


.lock{
  position : absolute;
    top:10px; 
    margin:0 auto; 
} 
.wom_video_title {
	font-size: 22px;
	color: #333;
	display: inline-block;
	line-height: 26px;
	width: 100%;
	margin-bottom: 10px;
}
.wom_video_date {
	margin-bottom: 10px;
}
.wom_video_description {
	font-size: 16px;
	color: #5B5B5B;
	display: block;
	width: 100%;
	clear: both;
}

a.video_item:hover .play {
	background-color: rgba(17, 36, 50, 0);
}
.wom_video_item{
	margin-bottom: 30px;
}
#load-more{
	display:none;
}

#popup-content {
	width: 900px;
	margin: 0px auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 50px;
	height: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	bottom: 0;
	height: 100%;
} 
.educational_wrapper {
	background: #F15E39;
	display: inline-block;
	padding: 30px;
}

#popup-content .mfp-close {
	color: #FFF !important;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%;
}


p.edu_result {
	text-align: center;
	color: #fff;
	font-size: 22px;
	display:none;
}
.wom_video_item.col-3 {
	border: 1px solid #112432;
	margin: 10px;
	padding: 0;
	width: 23%;
	border-radius: 8px;
	overflow: hidden;
	display: block;
}
.play {
	z-index: 30;
	background-color: rgba(17,36,50,.6);
	justify-content: center;
	align-items: center;
	transition: all .3s;
	display: flex;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
}
.lecture-list-play {
	z-index: 10000000;
	width: 42px;
	height: 42px;
	color: #fff;
	text-align: center;
	background-color: #112432;
	border-radius: 600px;
	justify-content: center;
	align-items: center;
	padding-left: 1px;
	font-family: Five Awesome,sans-serif;
	font-size: 15px;
	font-weight: 700;
	transition: all .3s;
	display: flex;
	position: absolute;
	top: 40%;
	left: 40%;
}
.play-icon {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 0 10px 15px;
	border-color: transparent transparent transparent #fff;
	display: inline-block;
	position: relative;
}
#content-container p{
	width:50%;
	float:left;
}

